h1,
h2,
h3,
p,
ul,
ol,
a
{font-family: 'Redressed', cursive;
    text-align: center;
}

.mainimg{
    display: block;
    height: 500px;
    width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 10px groove;
    border-color: #362204;
    margin-bottom: 10px;
}

div{
    border: 10px groove;
    border-color: #362204;
    margin-left: 300px;
    margin-right: 300px;
}

ul,
ol,
p{
    font-size: 25px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}
ul,
ol{
    align-items: center;
    flex-direction: column;
    display: flex;
}

a{
    display: block;
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
  }

body{
    background-color: #E30B5D;
}

.logo{
    width: 300px;
    height: 300px;
    position: absolute;
}

.logo.right{
    right: 0;
}