h1{
    font-family: 'Redressed', cursive;
    text-align: center;
    font-size: 50px;
}
body{
    background-color: rgb(255, 255, 153);
}

a{
    font-size: 30px;
    font-family: 'Redressed', cursive;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
}

a:hover {
    text-decoration: underline;
  }

.border{
    border: 10px ridge;
    border-color: #C5B4E3;
    margin-left: 37em;
    margin-right: 37em;
}

.mainimg.border{
    display: block;
    height: 500px;
    width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.logo{
    width: 200px;
    height: 200px;
    position: absolute;
}

.logo.right{
    right: 0;
}

